doctype html
html
  head
    meta(charset='utf-8')
    link(href='./css/styles.css' rel='stylesheet')
  body
    h1 Responsive 16:9 or whatever dimensions you want
    canvas#canvas
  script(src='./js/app.js')
